/* .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  max-width: max-content;
  gap: 1rem;
  margin-bottom: 1rem;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  iframe {
    aspect-ratio: 16/9;
    width: 100%;

    @media only screen and (max-width: 768px) {
      aspect-ratio: 9/21;

    }
    
  }
}

.container img {
  max-width: max-content;
}

/* .container button {
  max-width: max-content;
} */

.actionButton {
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  align-self: end;
}

.actionButton:hover {
  background-color: rgb(202, 202, 202);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .video-feed {
    width: 90vw;
  }
}