.App {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);

}

input {
  box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100vw;
  }
}